@using Smab.TTInfo.CunninghamCup.Shared.Models
@inject ITournamentService _tournamentService

<h2>@Title</h2>

@if (tournament?.Groups is null || tournament?.Groups.Count == 0) {
	<div class="alert alert-info">
		<h3>No Groups Available</h3>
		<p>Groups have not been drawn yet, so it's too early to show the <em>Qualifiers</em>.</p>
	</div>
} else {
	<dl>
		@foreach (Group group in tournament!.Groups) {
			if (group.IsCompleted) {
				@foreach (int position in Positions) {
					<dt>@group.Name @PositionName(position)</dt>
					<dd>@group.GroupPositions[position].PlayerId.DisplayName</dd>
				}
			} else {
				<dt>@group.Name</dt>
				<dd>Not completed yet.</dd>
			}
		}
	</dl>
}

@code {
	public Tournament? tournament { get; set; }

	[Parameter]
	public IEnumerable<int> Positions { get; set; } = [0, 1];

	[Parameter]
	public string Title { get; set; } = "Qualifiers";

	protected override void OnInitialized()
	{
		tournament ??= _tournamentService.GetTournament();
	}

	private static string PositionName(int position)
	{
		return position switch
		{
			0 => "Winner",
			1 => "Runner Up",
			2 => "Third Place",
			3 => "Fourth Place",
			4 => "Fifth Place",
			5 => "Sixth Place",
			_ => "Unknown"
		};
	}
}
